
.icon-download:before { content: '\e800'; } /* '' */
.icon-emo-wink:before { content: '\e801'; } /* '' */
.icon-mail:before { content: '\e802'; } /* '' */
.icon-pencil:before { content: '\e803'; } /* '' */
.icon-folder:before { content: '\e804'; } /* '' */
.icon-camera:before { content: '\e805'; } /* '' */
.icon-emo-surprised:before { content: '\e806'; } /* '' */
.icon-camera-outline:before { content: '\e807'; } /* '' */
.icon-picture-outline:before { content: '\e808'; } /* '' */
.icon-videocam:before { content: '\e809'; } /* '' */
.icon-videocam-outline:before { content: '\e80a'; } /* '' */
.icon-play:before { content: '\e80b'; } /* '' */
.icon-list:before { content: '\e80c'; } /* '' */
.icon-check:before { content: '\e80d'; } /* '' */
.icon-twitter:before { content: '\e80e'; } /* '' */
.icon-tumbler:before { content: '\e80f'; } /* '' */
.icon-friendfeed:before { content: '\e810'; } /* '' */
.icon-facebook:before { content: '\e811'; } /* '' */
.icon-tumblr:before { content: '\e812'; } /* '' */
.icon-twitter-1:before { content: '\e813'; } /* '' */
.icon-stumbleupon:before { content: '\e814'; } /* '' */
.icon-cloud:before { content: '\e815'; } /* '' */
.icon-plus-circle:before { content: '\e816'; } /* '' */
.icon-cancel:before { content: '\e817'; } /* '' */
.icon-ok-circle:before { content: '\e818'; } /* '' */
.icon-forward:before { content: '\e819'; } /* '' */
.icon-leaf:before { content: '\e81a'; } /* '' */
.icon-cloud-1:before { content: '\e81b'; } /* '' */
.icon-gplus-circled:before { content: '\f059'; } /* '' */
.icon-gplus:before { content: '\f05a'; } /* '' */
.icon-linkedin-circled:before { content: '\f05b'; } /* '' */
.icon-linkedin:before { content: '\f05c'; } /* '' */
.icon-phone-squared:before { content: '\f098'; } /* '' */
.icon-upload-cloud:before { content: '\f0ee'; } /* '' */
.icon-reply-all:before { content: '\f122'; } /* '' */
.icon-thumbs-down-alt:before { content: '\f165'; } /* '' */
.icon-male:before { content: '\f183'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-spoon:before { content: '\f1b1'; } /* '' */
.icon-trash:before { content: '\f1f8'; } /* '' */
.icon-eyedropper:before { content: '\f1fb'; } /* '' */
.icon-brush:before { content: '\f1fc'; } /* '' */
.icon-facebook-rect:before { content: '\f301'; } /* '' */
.icon-vkontakte-rect:before { content: '\f30a'; } /* '' */
.icon-odnoklassniki-rect:before { content: '\f30d'; } /* '' */
.icon-linkedin-rect:before { content: '\f312'; } /* '' */